/* ========== ROOT VARIABLES ========== */
:root {
  --primary-color: #0690f2;
  --primary-color-50: rgba(6, 144, 242, 0.5);
  --primary-color-30: rgba(6, 144, 242, 0.3);
  --primary-color-10: rgba(6, 144, 242, 0.1);
  --primary-color-hover: #4fa7f5;
  --primary-color-active: #0d6efd;
  --text-color-dark: #4a4a4a;
  --text-color-light: #fff;
  --secondary-text-color: var(--primary-color);
  --background-color-light: #ecf0f5;
  --border-color-neutral: #ddd;
  --text-color-gray: gray;
  --background-color-white: #fff;
  --background-color-hover: rgba(255, 255, 255, 0.2);
  --border-color-white: #fff;
  --ant-input-active-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
}

#admin-bar {
  background-color: var(--primary-color);
}

body {
  background-color: var(--background-color-light);
  color: #fff;
}

#toggle-header {
  background-color: var(--primary-color);
  box-shadow: 0 0 1px #fff;
}

.netpie-toggle {
  border-color: white;
}

.gridster .gs_w {
  background: white;
}

.gridster header {
  background-color: var(--primary-color);
}

.gridster header h1 {
  color: white;
}

.title {
  color: white;
}

.title.bordered {
  border: solid 3px white;
}

.section-title,
.indicator-text,
.widget span,
.netpie-toggle-text {
  color: #6a6a6a;
}

.board-toolbar li {
  color: var(--text-color-dark);
}

.text-button {
  color: var(--primary-color);
}

a:hover.text-button,
a:focus.text-button {
  color: var(--primary-color-hover);
}

.modal {
  background-color: #fff;
}

.modal header .title {
  color: var(--primary-color);
}

.modal footer {
  background-color: rgba(49, 128, 207, 0.1);
}

/* selected text in dropdown  */
.styled-select select {
  background: url(../img/dropdown-arrow.svg) no-repeat right 10px top 10px white;
  border: 1px solid var(--border-color-neutral);
}
.styled-select select:hover {
  border-color: var(--primary-color);
}
.styled-select select:focus {
  border-color: var(--primary-color);
  box-shadow: var(--ant-input-active-shadow);
}

.styled-select option {
  border: 1px solid var(--border-color-neutral);
  background-color: var(--border-color-neutral);
  color: gray;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
/* input text setting modal */
.uneditable-input {
  color: gray;
  background-color: #fff;
  border: 1px solid var(--border-color-neutral);
}

textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover,
.uneditable-input:hover {
  border-color: var(--primary-color);
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: var(--primary-color);
  box-shadow: var(--ant-input-active-shadow);
  outline: 0;
}

select {
  background-color: var(--background-color-light);
}

h6 {
  color: var(--primary-color);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #307096;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #307096;
}

.board-toolbar li:hover {
  background-color: var(--background-color-hover);
}

.setting-description {
  color: var(--text-color-dark);
}

.bg-graph {
  background-color: #fff;
}

ul.value-dropdown {
  border: 1px solid var(--border-color-neutral);
  background-color: var(--background-color-light);
  color: white;
}

ul.value-dropdown li {
  background-color: white;
  color: gray;
}

ul.value-dropdown li.selected {
  border: 1px solid #fff;
  background-color: #ddd;
  color: gray;
}

.onoffswitch-switch {
  background-color: #fff;
}

.onoffswitch-inner .on,
.onoffswitch-inner .off {
  background-color: var(--primary-color-hover);
  color: var(--background-color-white);
}

.onoffswitch-inner .off {
  background-color: var(--border-color-neutral);
}

.onoffswitch-label {
  border: 1px solid transparent;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  background-color: #fff;
}

.table thead th {
  color: var(--text-color-dark);
}

.datasource-list-container {
  border-bottom: solid 1px #fff;
}
.sub-section {
  border-bottom: solid 1px var(--background-color-light);
}
.icon-grey,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"] {
  color: white;
}

.form-slider label {
  top: 3px;
}

.theme-toggle-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 20px;
}

.theme-toggle-switch {
  display: block;
  width: 12px;
  height: 12px;
  margin: 4px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  transition: all 0.1s ease-in 0s;
}

.gauge-widget svg text tspan {
  fill: #000;
}

.bg-graph div table tbody tr td {
  color: #000 !important ;
  font-family: Trebuchet, Arial, sans-serif !important;
  font-weight: normal !important;
}

.bg-graph div .oneyaxis {
  color: #000 !important ;
}

.bg-graph div {
  font-family: Trebuchet, Arial, sans-serif !important;
  font-weight: normal !important;
}

.flot-x-axis div {
  color: #000 !important ;
}

.header_graph {
  color: #000 !important ;
}

.y_graph {
  color: #000 !important ;
}

.x_graph {
  color: #000 !important ;
}

.indicator-light {
  background-color: #dcdcdc;
  border-color: #fff;
}

.indicator-light.on {
  border-color: #ffffff;
}

.gauge-widget svg path:nth-of-type(1) {
  fill: #dcdcdc;
}

.tw-value {
  color: #000 !important ;
}

#board-content .board-toolbar li {
  margin: 4px 7px 5px 0px;
  padding: 4px;
  border-radius: 8px;
}

.board-toolbar td:hover {
  background-color: #4fa7f5;
}

.gridster .board-toolbar li {
  background-color: #e6f4fe;
}

.board-toolbar li i {
  /*color: var(--primary-color); */
  color: white;
}

.gridster .board-toolbar li i {
  color: var(--primary-color);
}

.gridster .board-toolbar li:hover {
  background-color: var(--primary-color);
}

.gridster .board-toolbar li:hover .icon-white {
  color: white;
}

.gridster header h1 {
  color: var(--primary-color);
  user-select: none;
}

/* pane header */
.gridster header {
  background-color: white;
}

#datasources thead {
  background-color: var(--background-color-hover);
}

.gs_w .icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"] {
  color: white;
}

.gs_w .gridster .board-toolbar li:hover .icon-white {
  color: white;
}

.column-tool .column-icon {
  background-color: var(--border-color-neutral);
}
.column-tool .icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"] {
  color: white;
}

#column-tools .board-toolbar li:hover {
  background-color: rgba(6, 144, 242, 0.1);
}

#plugin-description {
  text-align: left;
  color: var(--text-color-dark);
}

input,
select,
textarea {
  color: gray;
  /* width: -webkit-fill-available; */
}

.calicon {
  color: var(--primary-color);
}

.board-toolbar li {
  display: flex;
}

.form-label {
  color: var(--text-color-dark);
}

ul.tagit {
  border-color: var(--border-color-neutral);
  background: #fff;
  border-radius: 4px;
}

ul.tagit li.tagit-choice {
  border: 1px solid #cad8f3;
  background-color: #dee7f8;
}

ul.tagit input[type="text"],
ul.tagit li.tagit-choice-text .tagit-label:not(a) {
  color: #808080;
  background: none;
}

ul.tagit li.tagit-choice:hover,
ul.tagit li.tagit-choice.remove {
  background-color: #bbcef1;
  border-color: var(--border-color-neutral);
}

.rangeSlider {
  background-color: #dcdcdc;
}

.rangeSlider__fill_config,
.rangeSlider_config {
  height: 12px;
  border-radius: 12px;
}

.rangeSlider_config {
  background-color: var(--primary-color-30);
  border-color: transparent;
  box-shadow: none;
}

.rangeSlider__fill_config {
  background-color: var(--primary-color);
}

.rangeSlider__handle_config {
  background-color: var(--primary-color);
  top: -13px;
  margin-top: 8px;
  border-radius: 20px;
  width: 30px;
  height: 20px;
  border: 1px solid var(--primary-color-hover);
}

.rangeSlider__handle_config .code-window {
  background-color: #bbbbbb;
}

.cm-s-ambiance.CodeMirror {
  color: #2a2a2a;
  background-color: white;
}

.cm-s-ambiance .CodeMirror-gutters {
  background: #8d8d8d;
}

.cm-s-ambiance .CodeMirror-linenumber {
  text-shadow: 0px 0px 0px #4d4d4d;
  color: #fff;
  padding: 0 5px;
}

.icon-dark {
  color: var(--text-color-dark) !important;
}

/* ========== COLORIS - COLOR PICKER ==========  */
.clr-picker {
  background-color: #fff !important;
}

/* ========== CHART ========== */
.apexcharts-tooltip {
  color: #000;
}
